* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #F3F4F6;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    gap: 12px;

    margin: 40px auto;
    padding: 40px 20px;
    width: 70vw;
    max-width: 800px;

    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(80, 82, 83, 0.479) 0px 3px 8px;

    h1 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #111827;
    }


    #mensagemSaudacao {
        margin: 0;
        font-size: 1.5em;
        color: #3B82F6;
        font-weight: 500;
        text-shadow: #3B82F6 0px 1px 1px;
    }
     
    button {
    margin-top: 5px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 10px;
    background-color: #4a4c4d;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.2s;
    cursor: pointer;
    }

    button:hover {
    color: #4c8cf1;
    background-color: rgb(80, 82, 83);
    box-shadow: 0 0 10px #4c4e4e50;
    transform: scale(1.1);
    }

    button:active {
    background-color: #4a4c4d;
    transition: all 0.20s;
    -webkit-transition: all 0.18s;
    box-shadow: none;
    transform: scale(0.90);
    }

    
}

@media screen and (max-width: 600px) {
    .container {

        h1 {
            font-size: 1.5rem;
        }
        
        #mensagemSaudacao {
        font-size: 1.2rem;
        font-weight: 500;
    }
    }

    
}