* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(to right, #504c4b, #868280);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    gap: 12px;

    margin: 40px auto;
    padding: 40px 20px;
    width: 70vw;
    max-width: 800px;

    background-color: #504c4b;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h1 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }


    #mensagemSaudacao {
        margin: 0;
        font-size: 1.5em;
        color: rgb(39, 212, 39);
        font-weight: bold;
    }
     
    button {
    margin-top: 5px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    }

    button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    }

    button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
    }

    
}

@media screen and (max-width: 600px) {
    .container {

        h1 {
            font-size: 1.5rem;
        }
        
        #mensagemSaudacao {
        font-size: 1.2rem;
    }
    }

    
}